.span-logo {
  color: #323264;
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
}

.header {
  padding-top: 50px;
  display: grid;
  grid-template-areas: "a b" "a c";
}
.header .item-1 {
  grid-area: a;
  align-self: center;
  display: flex;
}
.header .item-2 {
  grid-area: b;
  display: flex;
  gap: 6px;
  justify-content: end;
  align-items: center;
}
.header .item-3 {
  grid-area: c;
  justify-content: end;
  display: flex;
  gap: 15px;
}
.header .adress, .header .tel {
  color: #b3b3ba;
  text-align: right;
  line-height: normal;
}
.header .tel {
  font-weight: 700;
}

.lang-list {
  color: #b3b3ba;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.lang-list input[type=radio] {
  display: none;
}

.lang-list input[type=radio]:checked + span {
  border-radius: 8px;
  background-color: #f0145a;
  padding: 5px 7px;
  color: #fff;
}

.lang-list span {
  padding: 5px 7px;
}

.lang-list span:hover {
  border-radius: 8px;
  background: #f5f5fa;
  padding: 5px 7px;
}

.facebook :hover {
  fill: #f0145a;
}

.menu-item {
  color: #24a3ff;
  text-align: right;
  font-weight: 700;
  padding-bottom: 3px;
}

.menu-item:hover {
  border-bottom: 2px solid;
}

.active {
  color: #f0145a !important;
  border-bottom: 2px solid;
}

.burger {
  display: none;
}

.item-3 ul {
  text-decoration: none;
}

.item-3 li {
  text-decoration: none;
  list-style: none;
}

.main-title {
  font-size: 38px;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 60px;
  margin-bottom: 60px;
}

.team-foto {
  border-radius: 12px;
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.card-name {
  color: #323264;
  font-weight: 700;
  line-height: normal;
  margin-top: 15px;
}
.card-descript {
  color: #b3b3ba;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
}
.card-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-bottom: 60px;
}
.card-absolute {
  position: absolute;
  right: 0;
  bottom: 15px;
}

.relative {
  position: relative;
}

.card-item:hover h2 {
  color: #f0145a;
  cursor: pointer;
}

.card-item:hover #styled-element {
  stroke: #f0145a;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f5fa;
}
.footer-right {
  display: flex;
  gap: 21px;
  flex-direction: column;
}
.footer-adress {
  color: #323264;
}
.footer-map {
  color: #24a3ff;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer-tel {
  color: #46466e;
  font-weight: 700;
}
.footer-mail {
  color: #24a3ff;
  font-weight: 700;
}

.adress-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-map {
  display: flex;
  align-items: center;
  gap: 10px;
}

.copy {
  color: #b3b3ba;
}

.footer-facebook :hover {
  fill: #f0145a;
}

.footer-mail:hover {
  color: #f0145a;
}

.gap-60 {
  gap: 60px;
}

.contact-wrap {
  margin-top: 60px;
  margin-bottom: 60px;
}
.contact-adress, .contact-tel {
  font-size: 21px;
  line-height: 1.4;
  color: #323264;
}
.contact-tel {
  color: #46466e;
  margin-bottom: 15px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}
.contact-wrapper-form {
  flex: 1 1 50%;
}
.contact-mail {
  color: #24a3ff;
  font-size: 21px;
  line-height: 1.4;
}
.contact-social {
  color: #24a3ff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3;
  display: flex;
  gap: 10px;
  align-items: center;
}
.contact-descript {
  max-width: 105px;
}
.contact-wrapper-form {
  padding: 30px;
  background-color: #f5f5fa;
  border-radius: 12px;
}

.contact-social:hover {
  color: #f0145a;
  transition: 0.3s;
}

.contact-social:hover svg path {
  fill: #f0145a;
  transition: 0.3s;
}

.horizont-line {
  height: 4px;
  background-color: #e6e6f0;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-title {
  background: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}
.form-name, .form-phone, .form-mail, .form-massage {
  padding: 15px 15px 15px 15px;
  border: 1px solid #fff;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: "Montserrat", serif;
  font-weight: 400;
  line-height: 1.6;
}
.form-massage {
  min-height: 130px;
}
.form-text {
  color: #b3b3ba;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: normal;
  margin-bottom: 15px;
}
.form-btn, .publications-btn, .services-entry-btn {
  font-family: "Montserrat", serif;
  display: inline-block;
  font-size: 16px;
  min-width: 100%;
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 18px 30px;
  border-radius: 12px;
  margin-top: 15px;
  background-color: #24a3ff;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
}

.contact-inner-wrapper ::placeholder {
  color: #b3b3ba;
}

.form-btn:hover, .publications-btn:hover, .services-entry-btn:hover {
  background-color: #0085ff;
  transition: 0.3s all linear;
}

@media (max-width: 955px) {
  .contact-wrap {
    flex-direction: column;
  }
}
.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url(/img/homepage/svg/Symbol.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
}

.home {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.white {
  color: #fff;
}

.white span:hover {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
}

.home .tel {
  color: #fff;
}
.home .adress, .home .header .tel, .header .home .tel {
  color: #fff;
}
.home .facebook:hover svg path {
  color: #f0145a;
  transition: all 0.3s linear;
}
.home .menu-item {
  color: #fff;
}
.home-title {
  color: #fff;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  line-height: normal;
}

.bg-gradient {
  background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  position: relative;
  border-radius: 0 0 12px 12px;
  padding-bottom: 60px;
}

.services-wrap::after {
  content: "";
  background-color: #cacadb;
  height: 10px;
  border-radius: 0 0 12px 12px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -10px;
}

.services-wrap::before {
  content: "";
  background-color: #e7e7f2;
  height: 10px;
  border-radius: 0 0 12px 12px;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: -20px;
}

.banner__scroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.banner__scroll:hover svg circle {
  stroke: #f0145a;
}

.banner__scroll:hover svg path {
  stroke: #f0145a;
}

.solution {
  padding-top: 60px;
}

.solution__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.solution__box-subject {
  display: flex;
  margin: 0 60px 0 0;
  flex-direction: column;
  overflow: inherit;
  align-items: flex-end;
  justify-content: space-around;
  white-space: nowrap;
  gap: 30px;
}

.solution__box-info-title {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 30px;
}

.solution__box-info-text {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #fff;
}

.solution__box-info--visible {
  display: block !important;
}

.solution__box-subject-link:not(:last-child) {
  margin-right: 0;
}

.solution__box-subject-link:last-child {
  margin-right: 0;
}

.solution__box-border {
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  align-self: stretch;
}

.solution__box-info {
  margin: 10px 0;
  margin-left: 60px;
}

.solution__box-subject-link {
  list-style: none;
  color: #b3b3ba;
  font-size: 38px;
  font-weight: 700;
  line-height: normal;
  text-align: right;
  cursor: pointer;
}

.solution__box-subject-link--active {
  background: linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solution__box-subject-link:hover {
  color: #f0145a;
  transition: 0.3s all linear;
}

.solution__box-info {
  display: none;
}

.services-svg {
  border-radius: 24px;
  background-color: #fff;
  padding: 14px;
}
.services-link, .publications-link {
  display: flex;
  align-items: center;
}
.services-title, .services-entry-title {
  margin-top: 10px;
  margin-bottom: 60px;
  background: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
  font-weight: 700;
  line-height: normal;
}

.services-link, .publications-link {
  color: #24a3ff;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.services-link:hover, .publications-link:hover {
  color: #f0145a;
  transition: 0.3s;
}

.services-link:hover svg path, .publications-link:hover svg path {
  stroke: #f0145a;
  cursor: pointer;
  transition: 0.3s;
}

.card-title {
  display: block;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #24a3ff;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  transition: 0.3s all linear;
}

.card-title:hover {
  color: #f0145a;
}

.card-text {
  color: #fff;
}

.services-wrap {
  margin-bottom: 0;
}

.services {
  padding-top: 60px;
}

.partners {
  padding-bottom: 60px;
  padding-top: 22px;
}
.partners-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 12px;
  overflow: hidden;
}
.partners-title {
  margin-bottom: 30px;
  color: #323264;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.container-partners {
  max-width: calc(var(--container-width) + var(--basic-space) * 4);
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--basic-space);
  padding-left: var(--basic-space);
}

.block-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 120px;
}
.block-hillel {
  background-color: #1c4280;
}
.block-WannaBiz {
  background-color: #143646;
}
.block-Tapgerine {
  background: linear-gradient(0deg, #f48b30 0%, #f48b30 100%), #f48b30;
}
.block-3dlook {
  background-color: #9e4dc3;
}
.block-orangear {
  background-color: #fd9339;
}
.block-adtelligent {
  background-color: #e2e2e4;
}
.block-clickky {
  background-color: #c71c36;
}
.block-Ecoleasing {
  background-color: #dcf3f9;
}
.block-ingratek {
  background-color: #eaeaea;
}
.block-Citypark {
  background-color: #282240;
}
.block-Artprint {
  background-color: #1d4568;
}
.block-Ultimatecard {
  background-color: #000;
}

.block-item a {
  display: flex;
  justify-content: center;
}

.block-item img {
  max-width: 50%;
  max-height: 100%;
}

.team-foto-main {
  width: 400px;
  object-fit: cover;
}

.slider-team-foto {
  width: 400px;
  overflow: hidden;
}
.slider-item {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
}
.slider-wrap {
  margin-top: 60px;
}
.slider-info {
  padding: 30px;
  background-color: #f5f5fa;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider-link {
  color: #24a3ff;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.slider-title, .publications-title {
  background: var(--Gradient-Red-Text, linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}
.slider-name {
  color: #b3b3ba;
  font-weight: 700;
  line-height: normal;
}
.slider-post {
  font-size: 14px;
  color: #b3b3ba;
}

.slider-link:hover {
  color: #f0145a;
  transition: 0.3s;
}

.slider-link:hover svg path {
  stroke: #f0145a;
  cursor: pointer;
  transition: 0.3s;
}

.owl-carousel .active {
  border-bottom: none;
}

.owl-carousel .owl-item img {
  width: 400px;
  display: inline-block;
}

.owl-theme .owl-dots .owl-dot span {
  width: 16px;
  height: 16px;
  margin: 30px 15px;
  background: #24a3ff;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
  opacity: 0.2;
}

.owl-theme .owl-dots .owl-dot.active span {
  opacity: 1;
  background: #24a3ff;
}

.publications {
  background-color: #f5f5fa;
  padding-top: 30px;
}

.publications-title {
  margin-top: 10px;
}
.publications-link {
  margin-top: 0;
}
.publications-foto {
  height: 200px;
  object-fit: cover;
  width: 100%;
}
.publications-item {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
}
.publications-card {
  border-radius: 8px;
  background-color: #fff;
  overflow: auto;
}
.publications-headline {
  color: #24a3ff;
  font-weight: 700;
  line-height: normal;
  font-size: 16px;
}
.publications-date {
  color: #b3b3ba;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.publications-text {
  font-size: 14px;
}
.publications-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.publications-date::after {
  content: " ";
  height: 4px;
  background-color: #e6e6f0;
  display: block;
  margin-top: 15px;
}

.publications .container::after, .publications .container-small::after {
  content: " ";
  height: 2px;
  background-color: #e6e6f0;
  display: block;
  margin-top: 30px;
}

.publications-headline:hover {
  color: #f0145a;
}

@media (max-width: 1481px) {
  .container-partners {
    padding-left: 0px;
    padding-right: 0px;
  }
  .partners-wrap {
    border-radius: 0px;
  }
  .partners {
    padding-bottom: 0;
  }
}
@media (max-width: 1128px) {
  .banner {
    background-size: cover;
  }
}
@media (max-width: 955px) {
  .solution__box-subject {
    margin-right: 0;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    position: absolute;
    top: 0;
    left: -4rem;
    max-width: 100vw;
  }
  .solution__box-subject-link:first-child {
    margin-left: 4rem;
  }
  .solution__box-border {
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
  }
  .solution__box-info {
    margin-top: 60px;
    margin-left: 0;
  }
  .solution__box {
    display: block;
    position: relative;
    padding-top: 106px;
  }
  .slider-item {
    flex-direction: column;
  }
  .owl-carousel .owl-item img {
    height: 500px;
    width: 100%;
  }
  .partners-wrap {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .publications-wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a b" "d d";
  }
  .grid-item1 {
    grid-area: a;
  }
  .grid-item2 {
    grid-area: b;
  }
  .grid-item3 {
    grid-area: d;
  }
}
@media (max-width: 680px) {
  .item-2-dark {
    background: rgba(245, 245, 250, 0.2) !important;
  }
  .banner {
    background-position: top center;
    height: 600px;
  }
  .solution {
    padding-top: 30px;
  }
  .solution__box {
    padding-top: 76px;
  }
  .solution__box-info {
    margin-top: 30px;
  }
  .services {
    padding-top: 30px;
  }
  .services-title, .services-entry-title {
    margin-bottom: 30px;
  }
  .partners-wrap {
    grid-template-columns: repeat(1, 1fr);
    max-height: 720px;
    overflow-y: auto;
  }
  .publications-wrap {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "a" "b" "d";
  }
  .burger-dark svg path {
    stroke: #fff;
  }
  .burger-dark.active svg path {
    stroke: #323264;
  }
  .home .menu-item {
    color: #24a3ff;
  }
}
.services-page {
  padding-top: 177px;
}

.partners-servpage {
  padding-top: 88px;
}

.span-logo-dark {
  color: #fff;
  font-size: 36px;
}

@media (max-width: 955px) {
  .services-page {
    padding-top: 267px;
  }
}
@media (max-width: 680px) {
  .services-page {
    padding-top: 123px;
  }
}
.services-entry-page {
  padding-top: 177px;
}
.services-entry-title {
  margin-top: 0;
  margin-bottom: 28px;
}
.services-entry-text {
  color: #fff;
  font-size: 19px;
}
.services-entry-btn {
  margin-top: 0;
  max-width: 100%;
  min-width: 0;
}

.services-entry-up::after {
  content: " ";
  margin-top: 60px;
  margin-bottom: 60px;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  max-width: 100%;
  display: block;
}

.mb-28 {
  margin-bottom: 28px;
}

.mt-60 {
  margin-top: 60px;
}

.list-title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  columns: 2;
  gap: 60px;
  margin-left: 20px;
}

.list li {
  margin-bottom: 15px;
}

.list li::marker {
  color: #f0145a;
}

.services-entry-down::before {
  content: "";
  background-color: #e7e7f2;
  height: 10px;
  border-radius: 0 0 12px 12px;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: -20px;
}

.services-entry-down::after {
  content: "";
  background-color: #cacadb;
  height: 10px;
  border-radius: 0 0 12px 12px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -10px;
}

.modal-wrapper-form {
  padding: 30px;
  background-color: #f5f5fa;
  border-radius: 12px;
  max-width: 650px;
  width: 100%;
}

.modal-inner-wrapper {
  width: 100%;
  position: relative;
}

.modal-wrapper {
  background-color: rgba(50, 50, 100, 0.7);
  align-items: center;
  justify-content: center;
  padding: 1rem;
  display: none;
  position: fixed;
  inset: 0;
  z-index: 2;
}

.modal-wrapper.active-modal {
  display: flex !important;
}

.close-modal {
  position: absolute;
  right: 0;
  top: 5px;
  cursor: pointer;
  transition: 0.3s all linear;
}

.close-modal rect {
  fill: transparent;
}

.close-modal:hover rect {
  fill: #e6e6f0;
}

@media (max-width: 955px) {
  .services-entry-page {
    padding-top: 295px;
  }
}
@media (max-width: 680px) {
  .services-entry-page {
    padding-top: 123px;
  }
  .list {
    columns: 1;
  }
}
.news-wrap {
  margin: 0 auto 30px auto;
  text-align: center;
  border-radius: 12px;
  background: var(--Grey-Separator, #e6e6f0);
  padding: 2px;
  max-width: 233px;
  width: 100%;
  color: #323264;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.news-item-1 {
  padding: 8px 30px 10px 30px;
  border-radius: 10px;
  background-color: #fff;
}
.news-item-2 {
  padding: 8px 30px 10px 30px;
}

.news-item-2:hover {
  background-color: #f5f5fa;
  border-radius: 10px;
}

.publications-btn {
  margin-top: 30px;
  max-width: 100%;
  min-width: 0;
}

.publications-page-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 955px) {
  .publications-page-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 680px) {
  .publications-page-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
:root {
  --container-width: 1600px;
  --basic-space: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-align: center;
  min-width: 150px;
  padding: 0.5rem, 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: "Montserrat", serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #000;
}

.container, .container-small {
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--basic-space);
  padding-left: var(--basic-space);
}

.container-small {
  max-width: calc(var(--container-width) - var(--basic-space) * 4 + var(--basic-space) * 2);
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.aling-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #e6e6f0;
  margin: 0 6px;
}

@media (max-width: 955px) {
  .header {
    grid-template-areas: "b" "a" "c";
    gap: 30px;
  }
  .item-2 {
    justify-self: start;
  }
  .nav-wrap {
    display: flex;
  }
  .card-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1150px) {
  .container-small {
    margin-left: calc(var(--basic-space) * 2);
    margin-right: calc(var(--basic-space) * 2);
  }
}
@media (min-width: 1700px) {
  .container-small {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 680px) {
  header .container, header .container-small {
    padding-right: calc(var(--basic-space) / 4);
    padding-left: calc(var(--basic-space) / 4);
    position: relative;
    margin-top: 0;
    padding-top: 0px;
  }
  .container,
  .container-small {
    padding-right: calc(var(--basic-space) / 2);
    padding-left: calc(var(--basic-space) / 2);
  }
  .card-wrap {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .main-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  footer .dot {
    display: none;
  }
  .adress-wrap {
    flex-direction: column;
  }
  .social-map {
    flex-direction: column;
  }
  .footer-wrap {
    gap: 30px;
  }
  .header {
    gap: 0;
  }
  header .dot {
    display: none;
  }
  .facebook,
  .adress,
  .header .tel {
    display: none;
  }
  header .tel {
    display: inline-block !important;
    flex: 1;
  }
  .item-2 {
    justify-content: space-between !important;
    justify-self: unset;
    margin: 0 -16px;
    padding: 10px 15px;
    background-color: #f5f5fa;
  }
  .burger.active svg rect {
    fill: #e6e6f0;
  }
  .burger svg rect {
    fill: transparent;
  }
  .burger {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 55px;
    display: inline-block;
    z-index: 5;
    border: none;
    background-color: transparent;
  }
  .header .nav-wrap {
    display: none;
    position: fixed;
    inset: 0;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    justify-content: center;
    background-color: rgba(50, 50, 100, 0.7);
  }
  .item-3 {
    position: absolute;
    padding: 4rem 0.75rem 0.75rem 0.75rem;
    background: #fff;
    border-radius: 12px 12px 0 0;
    flex-direction: column;
    bottom: 0px;
    width: calc(100% - 1rem);
  }
  .item-3.active {
    transition: all 0.7s linear;
  }
  .item-3 li {
    background-color: #f5f5fa;
    border-radius: 12px;
    padding: 7px 0px;
    width: 100%;
    text-align: center;
  }
  .nav-wrap.active {
    display: flex;
  }
  .item-3 li:active {
    background-color: #e6e6f0;
    color: #24a3ff;
  }
  .item-3 a:active {
    color: #24a3ff;
  }
  .item-3 a::before {
    display: none;
  }
  .Current-page {
    color: #f0145a;
    border: none;
  }
  .close {
    display: inline-block !important;
    position: absolute;
    right: 20px;
    bottom: 282px;
    z-index: 3;
    border: none;
    background-color: transparent;
  }
  .logo {
    height: 32px;
  }
  .slesh {
    width: 12px;
    height: 26px;
  }
  .span-logo {
    font-size: 20px;
  }
  .item-1 {
    margin-top: 15px;
  }
}
.close {
  display: none;
}/*# sourceMappingURL=style.css.map */