@media (max-width: 855px) {
  .header {
    grid-template-areas: 'b' 'a' 'c';
    gap: 30px;
  }
  .item-2 {
    justify-self: start;
  }
  .item-3 {
    justify-self: start;
  }
  .card-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 945px) {
  .container-small {
    margin-right: calc(var(--basic-space) * 2);
    margin-left: calc(var(--basic-space) * 2);
  }
}

@media (max-width: 647px) {
  header .container {
    padding-right: calc(var(--basic-space) / 4);
    padding-left: calc(var(--basic-space) / 4);
  }
  .container,
  .container-small {
    padding-right: calc(var(--basic-space) / 2);
    padding-left: calc(var(--basic-space) / 2);
  }
  // .container-small {
  //   padding-right: calc(var(--basic-space) / 2);
  //   padding-left: calc(var(--basic-space) / 2);
  // }
  .card-wrap {
    grid-template-columns: 1fr;
  }
  footer .dot {
    display: none;
  }
  .adress-wrap {
    flex-direction: column;
  }
  .social-map {
    flex-direction: column;
  }
  .footer-wrap {
    gap: 30px;
  }
  header .adress,
  .facebook {
    display: none;
  }
  header .dot {
    display: none;
  }
}
