.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url(/img/homepage/svg/Symbol.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
}
.home {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.white {
  color: #fff;
}
.home {
  .tel {
    color: #fff;
  }
  .adress {
    color: #fff;
  }
  .facebook:hover svg path {
    color: #f0145a;
    transition: all 0.3s linear;
  }
  .menu-item {
    color: #fff;
  }
  &-title {
    color: #fff;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: normal;
  }
}
.bg-gradient {
  background: $Gradient-Supersoft;
  position: relative;
  border-radius: 0 0 12px 12px;
  padding-bottom: 60px;
}
.services-wrap::after {
  content: '';
  background-color: #cacadb;
  height: 10px;
  border-radius: 0 0 12px 12px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -10px;
}
.services-wrap::before {
  content: '';
  background-color: #e7e7f2;
  height: 10px;
  border-radius: 0 0 12px 12px;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: -20px;
}
.banner__scroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
.solution__box {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}
.solution__box-subject {
  display: flex;
  margin: 0 60px 0 0;
  padding-right: 60px;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  flex-direction: column;
  overflow: inherit;
  align-items: flex-end;
  justify-content: space-around;
  white-space: nowrap;
  gap: 30px;
}
.solution__box-info-title {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 30px;
}

.solution__box-info-text {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #fff;
}

.solution__box-info--visible {
  display: block !important;
}
.solution__box-subject-link:not(:last-child) {
  margin-right: 0;
}
.solution__box-subject-link:last-child {
  margin-right: 0;
}
.solution__box-border {
  display: none;
}
.solution__box-info {
  margin: 10px 0;
}
.solution__box-subject-link {
  list-style: none;
  color: $Grey-Text;
  @include font-styles(38px, 700, normal);
  text-align: right;
  cursor: pointer;
}
.solution__box-subject-link--active {
  background: $Gradient-Text-Red-Reversed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.solution__box-subject-link:hover {
  color: $Accent;
  transition: 0.3s all linear;
}
.solution__box-info {
  display: none;
}
//**************** SERVICES********************//
.services {
  &-svg {
    border-radius: 24px;
    background-color: #fff;
    padding: 14px;
  }
  &-link {
    margin-top: 60px;
    display: flex;
    align-items: center;
  }
  &-title {
    margin-top: 10px;
    margin-bottom: 60px;
    background: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include font-styles(38px, 700, normal);
  }
}
.services-link {
  color: $Active-Regular;
  @include font-styles(14px, 700, normal);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services-link:hover {
  color: $Accent;
  transition: 0.3s;
}
.services-link:hover svg path {
  stroke: $Accent;
  cursor: pointer;
  transition: 0.3s;
}
.card-title {
  margin-top: 30px;
  margin-bottom: 15px;
  color: $Active-Regular;
  @include font-styles(22px, 700, normal);
}
.card-text {
  color: #fff;
}
.services-wrap {
  margin-bottom: 0;
}
//******************** partners*************************
.partners {
  &-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 12px;
    overflow: hidden;
  }
  &-title {
    margin-top: 60px;
    margin-bottom: 30px;
    color: $Main-Regular;
    @include font-styles(14px, 700, normal);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
  }
}
.partners-wrap a {
  display: inline-flex;
  height: 120px;
}
