.news-wrap {
  margin: 0 auto 30px auto;
  text-align: center;
  border-radius: 12px;
  background: var(--Grey-Separator, #e6e6f0);
  padding: 2px;
  max-width: 233px;
  width: 100%;
  color: $Main-Regular;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.news-item {
  &-1 {
    padding: 8px 30px 10px 30px;
    border-radius: 10px;
    background-color: #fff;
  }
  &-2 {
    padding: 8px 30px 10px 30px;
  }
}
.news-item-2:hover {
  background-color: $Grey-Bg;
  border-radius: 10px;
}
.publications-btn {
  @extend .form-btn;
  margin-top: 30px;
  max-width: 100%;
  min-width: 0;
}
.publications-page-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 955px) {
  .publications-page-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 680px) {
  .publications-page-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .publications {
    margin-top: 0;
  }
}

// *******************publications-entry*******************
.publications-entry {
  &-card {
    padding-top: 60px;
  }
  &-foto {
    border-radius: 12px;
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
  &-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &-headline {
    color: $Main-Regular;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
    margin-top: 30px;
  }
  &-gradient {
    background: var(
      --Gradient-Red-Text,
      linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    font-weight: 700;
    line-height: normal;
  }
  &-requirement {
    color: #46466e;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
  }
  &-list {
    font-size: 18px;
    line-height: 1.4;
    margin-left: 35px;
  }
  &-date {
    color: #b3b3ba;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &-img {
    text-align: center;
    font-size: 14px;
    color: #b3b3ba;
  }
  &-decision {
    @extend .publications-entry-headline;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
  }
  &-social {
    display: flex;
    gap: 10px;
    margin-bottom: 60px;
  }
}
.publications-entry-date::after {
  content: ' ';
  height: 4px;
  background-color: #e6e6f0;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.publications-list-item {
  margin-bottom: 15px;
}
.publications-entry-list li::marker {
  color: $Accent;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
}
.publications-entry-item::after {
  content: ' ';
  height: 4px;
  background-color: #e6e6f0;
  display: block;
  margin-bottom: 30px;
}
.publications-entry-social a {
  padding: 9px;
  background-color: $Grey-Bg;
  border-radius: 12px;
  display: flex;
}
.publications-entry-social a:hover {
  background-color: #ededf7;
  transition: 0.3s all linear;
}
@media (max-width: 680px) {
  .publications-entry-foto {
    height: 300px;
    object-fit: cover;
  }
  .publications-entry-card {
    padding-top: 30px;
  }
  .publications-entry-headline {
    font-size: 20px;
  }
  .publications-entry-gradient {
    font-size: 30px;
  }
  .publications-entry-requirement {
    font-size: 16px;
  }
  .publications-entry-decision {
    font-size: 16px;
  }
  .publications-title {
    font-size: 30px;
  }
}
