@import 'variable';
@import 'header';
@import 'team-page';
@import 'footer';

:root {
  --container-width: 1600px;
  --basic-space: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-align: center;
  min-width: 150px;
  padding: 0.5rem, 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}
html {
  font-family: 'Montserrat', serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #000;
}

.container {
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--basic-space);
  padding-left: var(--basic-space);
}
.container-small {
  @extend .container;
  max-width: calc(
    (var(--container-width) - (var(--basic-space) * 4)) +
      (var(--basic-space) * 2)
  );
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.aling-center {
  align-items: center;
}
.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #e6e6f0;
  margin: 0 6px;
}
@media (max-width: 955px) {
  .header {
    grid-template-areas: 'b' 'a' 'c';
    gap: 30px;
  }
  .item-2 {
    justify-self: start;
  }
  .nav-wrap {
    display: flex;
  }
  .card-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 945px) {
  .container-small {
    margin-left: calc(var(--basic-space) * 2);
    margin-right: calc(var(--basic-space) * 2);
  }
}
@media (min-width: 1700px) {
  .container-small {
    padding-left: calc(var(--basic-space) * 2);
    padding-right: calc(var(--basic-space) * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 680px) {
  header .container {
    padding-right: calc(var(--basic-space) / 4);
    padding-left: calc(var(--basic-space) / 4);
    position: relative;
    margin-top: 0;
  }
  .container,
  .container-small {
    padding-right: calc(var(--basic-space) / 2);
    padding-left: calc(var(--basic-space) / 2);
  }
  .card-wrap {
    grid-template-columns: 1fr;
  }
  .main-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  footer .dot {
    display: none;
  }
  .adress-wrap {
    flex-direction: column;
  }
  .social-map {
    flex-direction: column;
  }
  .footer-wrap {
    gap: 30px;
  }
  .header {
    gap: 0;
  }
  header .dot {
    display: none;
  }
  .facebook,
  .adress {
    display: none;
  }
  header .tel {
    display: inline-block !important;
    flex: 1;
  }
  .item-2 {
    justify-content: space-between !important;
    justify-self: unset;
    margin: 0 -16px;
    padding: 10px 15px;
    background-color: $Grey-Bg;
  }

  .burger.active svg rect {
    fill: #e6e6f0;
  }
  .burger svg rect {
    fill: transparent;
  }

  .burger {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 55px;
    display: inline-block;
    z-index: 5;
    border: none;
    background-color: transparent;
  }

  .header .nav-wrap {
    display: none;
    position: fixed;
    inset: 0;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    justify-content: center;
    background-color: rgba(50, 50, 100, 0.7);
  }
  .item-3 {
    position: absolute;
    padding: 4rem 0.75rem 0.75rem 0.75rem;
    background: #fff;
    border-radius: 12px 12px 0 0;
    flex-direction: column;
    bottom: 0px;
    width: calc(100% - 1rem);
  }
  .item-3 li {
    background-color: $Grey-Bg;
    border-radius: 12px;
    padding: 7px 0px;
    width: 100%;
    text-align: center;
  }

  .nav-wrap.active {
    display: flex;
  }

  .item-3 li:active {
    background-color: #e6e6f0;
    color: $Active-Regular;
  }
  .item-3 a:active {
    color: $Active-Regular;
  }
  .item-3 a::before {
    display: none;
  }
  .Current-page {
    color: $Accent;
  }
  .close {
    display: inline-block !important;
    position: absolute;
    right: 20px;
    bottom: 282px;
    z-index: 3;
    border: none;
    background-color: transparent;
  }
  .logo {
    height: 32px;
  }
  .slesh {
    width: 12px;
    height: 26px;
  }
  .span-logo {
    font-size: 20px;
  }
  .item-1 {
    margin-top: 15px;
  }
}
.close {
  display: none;
}
